@using Data.ModelsClass;
@model IEnumerable<Data.ModelsClass.SanphamChitiet>

@{
	ViewData["Title"] = "Home Page";
    var thongbao = ViewData["thongbao"] as string;
    var loginfalse = ViewData["loginfalse"] as string;
	var lstSP = ViewData["lstSP"] as List<SanPham>;
	string tensp = "";
}


<div>
	<h1 class="display-4" style=" text-align:center">Chào mừng đến với MAN CLASSIC</h1>
		<form method="get" asp-controller="Home" asp-action="SearchSanPham">
				<div class="row">
					<div class="col-2">
						<input name="min" type="number" placeholder="Nhập khoảng từ" class="form-control" />
					</div>
					<div class="col-2">
						<input name="max" type="number" placeholder="Đến" class="form-control" />
					</div>
					<div class="col-6">
						<input name="name" type="text" placeholder="Nhập tên sản phẩm" class="form-control" />
					</div>
					<div class="col-2"><button class="btn btn-success" type="submit">Tìm kiếm</button></div>
				</div>

			</form>
	<br />


	@if (Model != null)
	{       
			<ul class="row" style="list-style: none">
			@foreach (var item in Model)
			{
						<li class="col-3">               
						<div class="card" style="width: 16rem; margin-bottom: 20px">
							<img src="~/css/IMG_SP/@item.hinhAnhs" class="card-img-top" alt="...">
						@*<p>@Html.DisplayFor(modelItem => item.HinhAnh)</p>*@
							<div class="card-body">
							<h3 style="text-align:center" class="card-title">@(tensp = lstSP.FirstOrDefault(p => p.Id == item.IdSP).Ten)</h3>
								<div class="card-price">
									<p class="">
												Giá gốc: <del> @(@*sale =*@ item.GiaBan*2) $</del>
									</p>
									<p class="">
										<b style="color:red">Sale: @Html.DisplayFor(modelItem => item.GiaBan) $</b>
									</p>
									<p class="">
										<b>Trạng thái:@(item.TrangThai==1 ? "Còn hàng" : "Hết hàng")</b>
									</p>
									<p>
												<a asp-controller="Home" asp-action="SanPhamChiTiet" asp-route-spct_id="@item.Id">Chi tiết sản phẩm</a>
									</p>
								</div>
							<a asp-controller="Cart" asp-action="Addtocard" asp-route-ma="@item.Id" class="btn btn-primary">Thêm vào giỏ hàng</a>
							</div>
						</div>                   
						</li>
			}
			</ul>  
	}
</div>
