@model Data.ModelsClass.SanphamChitiet

@{
    ViewData["Title"] = "DetailSPCT";
}


<h1>Chi tiết sản phẩm</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanPham.Ten)
        </dd>

        <dt class = "col-sm-2">
            Màu sắc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mauSac.TenMau)
        </dd>

        <dt class = "col-sm-2">
            Kích cỡ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kichCo.Size)
        </dd>

        <dt class = "col-sm-2">
            Giá gốc
        </dt>
        <dd class = "col-sm-10">
            @*@(gg = Model.GiaBan * 2)*@
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            Giá sale
        </dt>
        <dd class = "col-sm-10">
            @*@(gb = Model.GiaBan)*@
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt class = "col-sm-2">
            Số lượng trong kho
        </dt>
        <dt class = "col-sm-2">
            Hình ảnh
        </dt>
        <dd class = "col-sm-10">
            <img src="~/css//IMG_SP/@Html.DisplayFor(model => model.hinhAnhs)" style="width:100px" height="100px" />

        </dd>
        <dt class = "col-sm-2">
            Trạng thái
        </dt>
        <dd class = "col-sm-10">
            @(Model.TrangThai == 1 ? "Còn hàng" : "Hết hàng")
        </dd>
        @*<dt class = "col-sm-2">
            Hãng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanPham.hang.TenHang)
        </dd>

        <dt class = "col-sm-2">
            Hãng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.theLoaiSanPhams.Select(x=>x.theLoai.TenTheLoai))
        </dd>*@
    </dl>
</div>
<div class="row">
<div class="col">
    <button class="btn btn-primary" style="height:40px">
            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Addtocard" asp-route-ma="@Model.Id" style="margin-top : -7px">Thêm vào giỏ hàng</a>
    </button>
</div>
<div class="col">
    <button class="btn btn-primary" style="height:40px">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="MuaHang" style="margin-top : -7px">Mua hàng</a>
    </button>
</div>
</div>
