@model IEnumerable<_1_API.ViewModel.HoaDon.ViewHoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh Sách Hóa Đơn Chờ</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                    <a asp-controller="HoaDonChiTiet" asp-action="Index" asp-route-id="@item.Id.ToString()">Chi Tiết</a>
                    
            </td>
        </tr>
}
    </tbody>
</table>
