@using Data.ModelsClass
@model IEnumerable<_1_API.ViewModel.NhanVien.ViewNhanVien>

@{
    ViewData["Title"] = "Index";
    var lstChucVu = ViewData["ListChucVu"] as List<ChucVu>;
}

<h1>Danh Sách Nhân Viên</h1>

<p>
    <a asp-action="CreateNhanVien">Thêm Nhân Viên</a>
</p>

<div class="row mb-3">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <form class="row g-3 float-end" method="get" asp-controller="NhanVien" asp-action="Search">
            <div class="col-auto">
                <input class="form-control" name="ten" type="text" placeholder="Nhập tên nhân viên" />
            </div>
            <div class="col-auto">
                <select class="form-select" name="idChucvu">
                    <option value="">Tất cả</option>
                    @foreach (var item in lstChucVu)
                    {
                        <option value="@item.Id">@item.Ten</option>
                    }
                </select>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit">Tìm Kiếm</button>
            </div>
        </form>
        
    </div>
</div>

<table class="table table-striped table-bordered table-hover align-middle" style="text-align:center">
    <thead>
        <tr class="table-info">
            <th>
                Ảnh
            </th>
            <th>
                Mã
            </th>
            <th>
                Tên
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Email
            </th>
            <th>
                Trạng thái
            </th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@("~/AnhNhanVien/"+item.AnhNhanVien)" alt="@item.AnhNhanVien" asp-append-version="true" width="120px" height="140px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChucVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id.ToString()">Edit</a> |
                    <a asp-action="Detail" asp-route-id="@item.Id">Detail</a> @*|
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id },
                new { onclick = "return confirm('Bạn có muốn xóa không?');" }),*@
                </td>
            </tr>
        }
    </tbody>
</table>
