@model _1_API.ViewModel.KhachHang.ViewKhachHang

@{
    ViewData["Title"] = "ThongTinKhachHang";
    var gt = "";
}

<h1 style="text-align:center">Thông Tin Cá Nhân</h1>

<div>
    
    <hr />
    <dl class="row" >
        
        <dt class = "col-sm-4">
            Tên
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-4">
            Email
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        
        <dt class = "col-sm-4">
            Địa chỉ
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-4">
            Giới Tính
        </dt>
        @{
            if(Model.GioiTinh == true)
            {
                gt = "Nam";
            }
            else
            {
                gt = "Nữ";
            }
        }
        <dd class = "col-sm-8">
            @gt
           
        </dd>
        <dt class = "col-sm-4">
            Số điện thoại
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-4">
            Ngày sinh
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Cập nhật thông tin cá nhân", "UpdateKH", new {  id = Model.Id}) |
    
</div>
