@using Data.ModelsClass;
@model IEnumerable<Data.ModelsClass.GiohangChitiet>

@{
    ViewData["Title"] = "Index";
    var lstSP = ViewData["lstSP"] as List<SanPham>;
    var lstSPCT = ViewData["lstSPCT"] as List<SanphamChitiet>;
    string tensp = "";
    string anhsp = "";
    decimal thanhtien = 0;
    var tt = ViewBag.tt;
}
@if (Model.Any() == true)
{
<h3>Giỏ hàng </h3>
    <table class="table" >
        <thead>
            <tr>
                <th>Ảnh sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Giá bán</th>
                <th>Số lượng</th>
                <th></th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@(lstSPCT.FirstOrDefault(x=>x.Id == item.IdSPChitiet).AnhDaiDien)" width="60" /></td>
                    <td>@(tensp = lstSPCT.FirstOrDefault(x=>x.Id == item.IdSPChitiet).TenSPChiTiet)</td>
                    <td>@item.GiaBan</td>
                    <td>@item.SoLuong</td>
                    <td>
                        <a asp-action="TangSL" asp-route-id="@item.IdSPChitiet" class="btn btn-sm btn-primary">+</a>
                        <a asp-action="GiamSL" asp-route-id="@item.IdSPChitiet" class="btn btn-sm btn-success">-</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Xóa</a>
                    </td>
                    <td>@(thanhtien = item.GiaBan * item.SoLuong)</td>

                </tr>
            }
            <tr>
                    <td class="text-right" colspan="6"><h6>Tổng tiền: @tt</h6> </td>
            </tr>
            <tr>
                <td colspan="6"class="text-right">
                    <a asp-action="MuaHang" class="btn btn-primary">Đặt hàng</a>
                   
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"class="text-left "><a asp-controller="Home" asp-action="Index" class="btn btn-success">Tiếp tục mua</a></td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <h3> Chưa có sản phẩm nào trong giỏ hàng</h3>
    <a asp-action="Index" asp-controller="Home">về trang chủ</a>
}